Package: [[name]]
Version: [[version]]
Section: text
Priority: optional
Architecture: all
Maintainer: Christian Egli <christian.egli@sbs.ch>
Depends: default-jre | java8-runtime
Description: DTBook Schema files
